rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }
    function isUserAuthenticated(userId) {
      return isAuthenticated() && userId == request.auth.uid;
    }
    function existingData() {
      return resource.data;
    }
    function incomingData() {
      return request.resource.data;
    }


    //USERS
    match /users/{userId} {
      allow read: if isUserAuthenticated(userId);
      allow create: if isUserAuthenticated(userId)
                    && isValidUser(incomingData());
      allow update: if isUserAuthenticated(userId)
                    && isValidUserUpdate(incomingData())
                    && incomingData().created == existingData().created;
      allow delete: if isUserAuthenticated(userId);
      
      function isValidUser(user) {
        return 'username' in user && user.username is string
        && 'created' in user && user.created is timestamp;
      }
      function isValidUserUpdate(user) {
        return 'updated' in user && user.updated is timestamp
        && user.created is timestamp
        && user.username is string
        && user.bio is string;
      }
    }


    //ROOMS
    match /rooms/{roomsId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated()
                    && isValidRoom(incomingData());
      allow update: if isAuthenticated()
                    && isValidRoomUpdate(incomingData())
                    && incomingData().created == existingData().created;

      function isValidRoom(room) {
        return 'roomname' in room && room.roomname is string
        && 'prefecture' in room && room.prefecture is string
        && 'created' in room && room.created is timestamp;
      }
      function isValidRoomUpdate(room) {
        return 'joinUsers' in room
        && 'updated' in room && room.updated is timestamp
        && room.roomname is string
        && room.prefecture is string
        && room.created is timestamp;
      }
    }

      //CHATS
      match /rooms/{roomsId}/chats/{chatsId} {
        allow read: if isAuthenticated();
        allow create: if isAuthenticated()
                      && isValidChat(incomingData());
        allow update: if isAuthenticated()
                      && isValidChatUpdate(incomingData())
                      && incomingData().created == existingData().created
                      && incomingData().item == existingData().item
        allow delete: if isUserAuthenticated(existingData().userId);

        function isValidChat(chat) {
          return 'userId' in chat
          && 'username' in chat && chat.username is string
          && 'item' in chat && chat.item is string
          && 'isRead' in chat && chat.isRead is bool
          && 'created' in chat && chat.created is timestamp
        }
        function isValidChatUpdate(chat) {
          return 'isRead' in chat && chat.isRead is bool
          && 'isReadUsers' in chat
        }
      }

        //LIKEDUSERS
        match /rooms/{roomsId}/chats/{chatsId}/likedUsers/{userId} {
          allow read: if isAuthenticated();
          allow create: if isAuthenticated()
                        && isValidLikedUsers(incomingData());
          allow update: if isAuthenticated()
                        && isValidLikedUsersUpdate(incomingData());
          allow delete: if isUserAuthenticated(userId);

          function isValidLikedUsers(likedUsers) {
            return 'username' in likedUsers && likedUsers.username is string;
          }
          function isValidLikedUsersUpdate(likedUsers) {
            return 'username' in likedUsers && likedUsers.username is string;
          }
        }
  }
}