#prefecture {
  text-align: center;
  
}#prefecture .pref-create {
  display: block;
  margin-bottom: 5em;
}
#prefecture .pref-roomnames {
  box-sizing: border-box;
  color: black;
  width: 400px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0.8em;
  position: relative;
  display: inline-block;
  padding: 0.8em;
  background: rgb(235, 235, 235);
  border-radius: 4px;
  line-height: 1.2em;
}